.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    border: white;

}

.lang-rus:hover {
    background-image: url('img/Rus.png');
    background-size: cover;
    color: black;
}

.lang-eng:hover {
    background-image: url('img/ENG.jpg');
    background-size: cover;
    color: white;
}
